<div class="card">
    <div class="card1 card-body h-100">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzXCmVEwgMlaiNW5wTzcO0s3Fx2RkIH9CIQg&usqp=CAU" alt="" class="w-100">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident veritatis repudiandae et aspernatur pariatur! Consectetur  sint neque adipisci fugiat ipsa magni, mollitia libero voluptatibus praesentium fugit? Vitae, iure.</p>
        <div>
            
        </div>
    </div>
</div>
