<h1 class="text-center">Nesting of Components</h1>
<div class="container mt-5">
          <div class="row row-cols-md-3">
            <div class="col p-3">
              <app-product1></app-product1>
            </div>
            <div class="col p-3">
              <app-product2></app-product2>
            </div>
            <div class="col p-3">
              <app-product3></app-product3>
            </div>
            <div class="col p-3">
              <app-product4></app-product4>
            </div>
            <div class="col p-3">
              <app-product5></app-product5>
            </div>
            <div class="col p-3">
              <app-product6></app-product6>
            </div>
            </div>
  </div>
